body, #primaryContent {
  background-image: url(https://t1.daumcdn.net/cafeattach/1YCwG/c2c573675a336ccc866c6be9b20d650b2ee83963);
  background-attachment: fixed;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 30px top;
  background-size: 1000px 1200px;
}
